<div class="wrapper">
    <app-header />
    <div class="banner-privacy-policy banner">
      <div class="container">
        <div class="banner-privacy-policy__title banner-title"><h2>Политика конфиденциальности</h2></div>
        <div class="banner-privacy-policy__text banner-text">
          <!-- <p></p> -->
        </div>
      </div>
    </div>
    <div class="privacy__policy">
        <div class="container">
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio voluptate ipsam ad, hic distinctio ullam eligendi magni perferendis similique esse tempore omnis impedit excepturi dignissimos, sequi accusamus. Qui, libero.</p>
            </div>
        </div>
    </div>
    <app-footer />
</div>
