<div class="wrapper">
    <app-header />
    <div class="booking-form">
        <div class="container">
            <div class="booking-form__title title"><h2>Форма</h2></div>
            <div class="booking-form__subtitle subtitle">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt neque optio fugit laborum corporis. Obcaecati ab iure labore, voluptatum quidem, ipsum in neque aliquid aperiam sint recusandae at. Voluptate, aut.</p>
            </div>
            <form action=""></form>
        </div>   
    </div>
    <app-footer />
</div>
