.slider-container {
    position: relative;
    max-width: 606px;
    margin: 0 auto;
}

.slider__slides {
}

.slider__card {

}

.slider__card:last-child {
    margin-right: 0; /* Убираем отступ у последней карточки */
}

.slide__image {
    //padding: 25px;
    width: 100%; /* Заполняет всю ширину карточки */
    height: auto; /* Сохраняет пропорции изображения */
}

h3 {
    margin: 28px 25px 0px 25px; /* Отступы для текста*/
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    /* identical to box height, or 50px */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #333333;
}

p {
    margin: 0 25px; /* Отступы для текста */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    /* or 29px */
    text-align: center;

    color: #333333;


}

.action-button {
    margin: 20px;
    width: 85%;
    min-height: 55px;

    background: #274D07;
    border-radius: 10px;
    //border: none;
    //padding: 10px;
}

.nav-button {
    font-size: 14px;
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    background-color: #F7CC20;
    color: #000000;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-button {
    left: 10px; /* Позиция кнопки "Назад" */
}

.next-button {
    right: 10px; /* Позиция кнопки "Вперед" */
}

.nav-button[disabled] {
    background-color: #FBF2BB; /* Цвет для отключенной кнопки */

}
