<div class="wrapper">
    <div class="uslugi">
        <div class="container">
            <div class="uslugi__title title"><h2 id="uslugi" >Услуги</h2></div>
            <div class="uslugi__body">
                <div class="uslugi__left">
                    <div class="uslugi__title-icon">
                        <img [src]="contents[currentContentIndex].image" alt="Image">
                        <h2>{{ contents[currentContentIndex].title }}</h2>
                    </div>
                    <div class="uslugi__text">
                        <ul class="uslugi__list-left">
                            @if (currentContentIndex === 0) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                            @if (currentContentIndex === 1) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                            @if (currentContentIndex === 2) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                            @if (currentContentIndex === 3) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                            @if (currentContentIndex === 4) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                            @if (currentContentIndex === 5) {
                                <a href="#">Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</a>
                                <br>
                                <li>Общий классический массаж — 60 мин 2 200 руб</li> 
                                <li>Общий классический массаж — 90 мин 2 800 руб</li> 
                                <li>Лимфодренажный массаж — 60 мин 2 200 руб</li> 
                                <li>Антицеллюлитный массаж — 60 мин 2 400 руб</li> 
                            }
                        </ul>
                    </div>
                    <button class="button-yellow">Подробнее</button> 
                </div>
                <div class="uslugi__right">
                    <ul class="uslugi__list-right">
                        <button *ngFor="let button of buttons; let i = index;"  (click)="changeContent(i);">
                            {{ button.text }}  
                            <ng-container *ngIf="button.isActive == false;">
                                <img src="/assets/uslugi-icon.png" alt="Активное состояние">
                            </ng-container>
                            <ng-container *ngIf="button.isActive == true;">
                                <img src="/assets/uslugi-icon-active.png" alt="Активное состояние">
                            </ng-container>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
